<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Paciente</title>
</head>
<body>
    <h1>Adicionar Paciente</h1>
    <form action="{{ url_for('adicionar') }}" method="post">
        Nome: <input type="text" name="nome" required><br>
        Período: <input type="text" name="periodo"><br>
        Curso: <input type="text" name="curso"><br>
        Data da Última Consulta: <input type="date" name="dataDaUltimaConsulta"><br>
        Email: <input type="email" name="email"><br>
        Telefone: <input type="text" name="telefone"><br>
        Observações: <textarea name="observacoes"></textarea><br>
        Links: <input type="text" name="links"><br>
        <button type="submit">Salvar</button>
    </form>
    <a href="{{ url_for('index') }}">Voltar</a>
</body>
</html>
